{eunit_opts, [verbose]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
    {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish", {branch, "master"}}},
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.2.2"}}},
    {folsom, ".*", {git, "git://github.com/boundary/folsom.git", {branch, "master"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.1.1"}}},
    {libsnarl, "0.3.39", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.3.39"}}}
]}.

{plugins, [
           {rebar3_cuttlefish, ".*", {git, "git://github.com/tsloughter/rebar3_cuttlefish.git", {branch, "master"}}}
          ]}.


{provider_hooks,
 [{post, [{release, cuttlefish}]}]}.


{overrides,
 [
  %% R19
  {override, dflow,
   [{erl_opts, [debug_info]}]},
  {override, dqe,
   [{erl_opts, [debug_info]}]},
  {override, mdns_client_lib,
   [{erl_opts, [debug_info, {parse_transform, lager_transform}]}]},
  {override, edown,
   [{erl_opts, [debug_info]}]},
  {override, eper,
   [{erl_opts, [debug_info]}]},

  {override, riak_core,
   [{erl_opts, [{parse_transform, lager_transform},
                debug_info, {platform_define, "^[0-9]+", namespaced_types},
                {platform_define, "^R15", "old_hash"}]}]},
  {override, wiggle,
   [{erl_opts, [{i, "deps"},
                debug_info,
                {parse_transform, lager_transform}]}]},
  {override, riak_ensemble,
   [{erl_opts, [debug_info,
                warn_untyped_record,
                {parse_transform, lager_transform}]}]},
  {override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]},
  %% Normal
  {override, setup, [{post_hooks, []}]},
  {override, e2qc,
   [{plugins,
     [pc]},
    {provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]}]},
  {override, eleveldb,
   [{pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                 {compile, "c_src/build_deps.sh"}]},

    {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

    {plugins,
     [pc]},

    {provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]}]}]}.



{profiles,
 [
  {prod, [{relx, [{dev_mode, false}]}]},
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}]}
 ]}.

{relx,
 [{release, {"dragon", "0.7.0"},
   [
    sasl,
    runtime_tools,
    {cuttlefish, load},
    {bear, load} % we need this since folsom doesn't include it
   ]},

  {dev_mode, true},
  {include_erts, true},
  {generate_start_script, false},
  {overlay_vars, "rel/vars.config"},
  {overlay,
   [{mkdir, "etc"},
    {copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
    {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {template, "rel/files/dragon", "bin/dragon"},
    {copy, "_build/default/bin/cuttlefish", "bin/cuttlefish"},
    {copy, "share", "share"},
    {template, "schema/erlang_vm.schema", "share/schema/03-vm.schema"},
		{template, "_build/default/lib/mdns_client_lib/priv/mdns_client.schema", "share/schema/12-mdns_client.schema"}
   ]}]}.

%% Cuttlefish filename
{cuttlefish_filename, "snarl.conf.example"}.