{eunit_opts, [verbose]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.1.1"}}},
    {folsom, ".*", {git, "git://github.com/boundary/folsom.git", {branch, "master"}}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.1.1"}}},
    {libsnarl, "0.3.10", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.3.10"}}}
]}.



{sub_dirs, ["rel", "apps/*"]}.
{lib_dirs, ["apps"]}.
