%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {rel, "dragon", "0.6.1",
        [
         kernel,
         stdlib,
         sasl,
         dragon
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "dragon"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl, [{incl_cond, include}]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, dragon, [{incl_cond, include}]}
      ]}.




{target_dir, "dragon"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "etc"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "dragon/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},

           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},

           {template, "files/dragon", "bin/dragon"},

           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {copy, "../share", "share"},

           {template, "../schema/dragon.schema", "share/schema/00-dragon.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/01-vm.schema"},
           {template, "../schema/lager.schema", "share/schema/02-lager.schema"},
           {template, "../deps/mdns_client_lib/priv/mdns_client.schema", "share/schema/03-mdns_client.schema"},
           {template, "../deps/libsnarl/priv/libsnarl.schema", "share/schema/04-libsnarl.schema"} 
           ]}.