%% -*- erlang -*-
%%
%% etc/app.config
%%
{db_path,               "/var/db/dragon"}.
{log_path,              "/var/log/dragon"}.


%%
%% etc/vm.args
%%
{node,                  "dragon@127.0.0.1"}.
{crash_dump,            "/var/log/dragon"}.
{cookie,                "erlang"}.
{run_user,              "dragon"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "dragon.conf"}.

{platform_etc_dir,      "./etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/var/db/dragon"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "/var/log/dragon"}.